<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=500, initial-scale=1">
    <title>CV Cecile El Shtby</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://kit.fontawesome.com/952f419f41.js" crossorigin="anonymous"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Mulish&family=Philosopher&family=Prompt:wght@300&family=Rubik+Puddles&display=swap');
      </style>
</head>
<body>
   
    <nav class="nav">
        <input type="checkbox" id="nav__checkbox" class="nav__checkbox">
        <label for="nav__checkbox" class="nav__toggle">
          <svg class="menu" viewBox="0 0 448 512" width="100">
            <path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" />
          </svg>
          <svg class="close" viewBox="0 0 384 512" width="100">
            <path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" />
          </svg>
        </label>
        <ul class="nav__menu">
          <li><a href="#">
              <h1 class="name">Cécile<br> El Shtby</h1>
              <p class="title">Développeuse Web Junior</p>
            </a></li>
          <li><a href="index.html">Home</a></li>
          <li><a href="experiences.html">Expériences</a></li>
          <li><a href="formation.html">Formation</a></li>
          <li><a href="competences.html">Compétences</a></li>
        </ul>
      </nav>

      <header>
        <h1 id="head-title">Compétences</h1>
      </header>
     
      <div class="compiler">

        <div class="leftbox">
          
        </div>
        <div class="rightbox">
          <div class="rb-container">
            <ul class="rb">
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                  <h1>Hard Skills</h1>
                </div>
                <div class="item-title">
                  <ul id="skill-list">
                  <li><i class="fa-brands fa-html5"></i>  HTML5</li>
                  <li><i class="fa-brands fa-css3-alt"></i>  CSS3 (Booststrap & Sass)</li>
                  <li><i class="fa-brands fa-js-square"></i>  JavaScript (React & NodeJS)</li>
                  <li><i class="fa-brands fa-php"></i>  PHP</li>
                  <li><i class="fa-solid fa-database"></i>  SQL</li>
                </ul>
              </div>
      
              </li>
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                  <h1>Soft Skills</h1>
                </div>
                <div class="item-title">
                  <ul id="skill-list">
                    <li><i class="fa-solid fa-bullhorn"></i>  Motivation</li>
                    <li><i class="fa-solid fa-magnifying-glass"></i>  Curiosité</li>
                    <li><i class="fa-solid fa-chart-line"></i>  Persévérance</li>
                    <li><i class="fa-solid fa-people-group"></i>  Team player</li>
                    <li><i class="fa-solid fa-globe"></i>  Adaptabilité</li>
                </ul>
              </div>
      
              </li>
      
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                  <h1>Mad Skills</h1>
                </div>
                <div class="item-title">
                  <ul id="skill-list">
                    <li><i class="fa-solid fa-person-walking-luggage"></i>  Nomade</li>
                    <li><i class="fa-solid fa-hand-holding-heart"></i>  Bénévole</li>
                    <li><i class="fa-solid fa-user-secret"></i>  Polarophile/Web Sleuth</li>
                    <li><i class="fa-solid fa-chess-board"></i>  Jeu de Go</li>
                </ul>
              </div>
              </li>
    
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp">
                  <h1>Langues Courantes</h1>
                </div>
                <div class="item-title">
                  <ul id="skill-list">
                    <li><i class="fa-solid fa-earth-europe"></i>  Français</li>
                    <li><i class="fa-solid fa-earth-americas"></i>  Anglais</li>
                    <li><i class="fa-solid fa-earth-africa"></i>  Arabe</li>
                </ul>
              </div>
      
              </li>
      
            </ul>
      
          </div>
        </div>
      </div>



<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.3.4/lib/darkmode-js.min.js"></script>      
<script src="main.js"></script>

</body>
</html>