*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d9c1b7;
}



/*//////////////   NAVBAR   ////////////////////////////////*/





a.click {
    text-decoration: none;
    color: #795d53;
    font-family: 'Philosopher', sans-serif;
    font-size: 1em;
    transition: 200ms;
  }
  a:hover {
    opacity:0.5;
  }
  ul {
    list-style-type: none;
  }

  nav {
    background-color: #795d53;
    height: 60px;
    position: fixed;
    margin-top: 10%;
    z-index: 999;
  }
  
  
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 25px;
  }
  
  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    opacity: 0;
    z-index: 2;
  }

  label {
    color: #ffffff;
    font-size: 12px;
  }
  
  #menuToggle span
  {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu
  {
    position: absolute;
    width: 180px;
    height: 400px;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #d9c1b7;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 10px 0;
    transition-delay: 2s;
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }



/*/////////////////////      HOME      ////////////////////////////////*/



header{
    margin: 1rem;
}

.name {
    font-family: 'Mulish', sans-serif; 
    font-size: 33px;
    color: #4c6472;
}

.title {
    font-family: 'Mulish', sans-serif;
    color: #795d53;
}

.pdf {
padding: 10px;
border: 2px solid #795d53;
border-radius: 10px;
width: 90px;
margin-top: 10px;
}

.pdflink {
  text-decoration: none;
}

.profil { 
    padding-bottom: 2rem;
    margin: 2rem; 
}

.objectif { 
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

#mypic {
    width: 30%;
    height: 30%;
}







/*//////////////EXPERIENCES////////////////////////////////*/






div#timeline {
  width: 80%;
  margin: 20px auto;
  position: relative;
}

div#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 2%;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 90%;
  background: #4c6472;
  z-index: -2;
}

div#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}

div#timeline article:after {
  content: '';
  display: block;
  clear: both;
}

div#timeline article div.inner {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
}

div#timeline article div.inner span.date {
  display: block;
  width: 60px;
  height: 50px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  font-size: 20px;
  color: #996D6D;
}

div#timeline article div.inner span.date span {
  display: block;
  text-align: center;
}


div#timeline article div.inner span.date span.month {
  font-size: 36px;
}

div#timeline article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: #996D6D;
  font-size: 20px;
  font-family: 'Philosopher', sans-serif;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}
div#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
      width: 10px; 
      height: 10px;
}
div#timeline article div.inner p {
  padding: 15px;
  margin: 0;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  color: #4c6472;
  border-radius: 0 0 6px 6px;
}
div#timeline article:nth-child(2n+2) div.inner {
  float: right;
}
div#timeline article:nth-child(2n+2) div.inner h2:after {
  left: -5px;
}
div#timeline article:nth-child(1) div.inner h2 {
  border: 1px solid #795d53;
}
div#timeline article:nth-child(1) div.inner h2:after {
  background: #795d53;
}
div#timeline article:nth-child(2) div.inner h2 {
  border: 1px solid #795d53;
}
div#timeline article:nth-child(2) div.inner h2:after {
  background: #795d53;
}
div#timeline article:nth-child(3) div.inner h2 {
  border: 1px solid #795d53;
}
div#timeline article:nth-child(3) div.inner h2:after {
  background: #795d53;
}
div#timeline article:nth-child(4) div.inner h2 {
  border: 1px solid #795d53;
}
div#timeline article:nth-child(4) div.inner h2:after {
  background: #795d53;
}
div#timeline article:nth-child(5) div.inner h2 {
  border: 1px solid #795d53;
}
div#timeline article:nth-child(5) div.inner h2:after {
  background: #795d53;
}

div#timeline article:nth-child(6) div.inner h2 {
  border: 1px solid #795d53;
}
div#timeline article:nth-child(6) div.inner h2:after {
  background: #795d53;
}
div#timeline article:nth-child(7) div.inner h2 {
  border: 1px solid #795d53;
}
div#timeline article:nth-child(7) div.inner h2:after {
  background: #795d53;
}
div#timeline article:nth-child(8) div.inner h2 {
  border: 1px solid #795d53;
}
div#timeline article:nth-child(8) div.inner h2:after {
  background: #795d53;
}
div#timeline article:nth-child(9) div.inner h2 {
  border: 1px solid #795d53;
}
div#timeline article:nth-child(9) div.inner h2:after {
  background: #795d53;
}






    /*//////////////FORMATION////////////////////////////////*/





    
    .timeline {
      position: relative;
      width: 100%;
      max-width: 700px;
      margin: 3rem auto;
      padding: 15px 0;
    }
    
    .timeline::after {
      content: '';
      position: absolute;
      width: 2px;
      background: #4c6472;
      top: 0;
      bottom: 0;
      left: 90px;
      margin-left: -1px;
    }


    .container {
      position: relative;
      background: inherit;
      padding-left: 120px;
      padding-right: 30px;
      width: 100%;
    }

    .container.left {
      left: 0;
    }
    
    .container.right {
        left: 0%;
      }
    
    .container::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 2px;
      top: calc(50% - 1px);
      right: 8px;
      left: 100px;
      background: #4c6472;
      z-index: 1;
      border-color: transparent #4c6472 transparent transparent;
    }
    


    .container .date {
      position: absolute;
      display: inline-block;
      top: calc(50% - 8px);
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      color: #4c6472;
      letter-spacing: 1px;
      z-index: 1;
      right: auto;
      left: 25px;
    }
    
    

    .container .icon {
      position: absolute;
      display: inline-block;
      width: 40px;
      height: 40px;
      padding: 9px 0;
      top: calc(50% - 20px);
      border: 2px solid #4c6472;
      border-radius: 40px;
      text-align: center;
      font-size: 18px;
      color: #996D6D;
      z-index: 1;
      right: auto;
      left: 146px;
    }
    
    
   
    .container .content {
      margin-top: 1rem;
      padding: 30px 30px 30px 90px;
      position: relative;
    }
     
    
    .school {
        margin: 0 0 10px 0;
        font-family: 'Philosopher', sans-serif;
        font-size: 20px;
        color: #996D6D;
    }
    
    .study {
        margin: 0;
        font-family: 'Mulish', sans-serif;
        font-size: 14px;
        line-height: 22px;
        color: #4c6472;
    }
    
    @media (min-width: 767.98px) {
      .timeline::after {
        left: 50%;
      }
    
      .container {
        width: 50%;
        padding: 15px 30px;
      }
    
      .container.right {
        left: 50%;
      }
    
      .container.right::after {
        left: -8px;
      }
    
      .container.right::before {
        left: 1px;
      }

      .container.left::after {
        left: 98%;
      }
    
      .container.left::before {
        left: 86%;
      }
    
      .container.left .date {
        left: 110%;
      }
      
      .container.right .date {
        left: -95px;
      }
    
      .container.left .icon {
        left: 75%;
      }
      
      .container.right .icon {
        left: 50px;
      }
      
      .container.left .content{
        border-radius: 0 500px 500px 0; 
        padding: 30px 90px 30px 30px;
     }
    }
    



 /*//////////////COMPETENCES////////////////////////////////*/




 .titre {
  font-family: 'Philosopher', sans-serif;
  color: #795d53;
  padding: 27px;
}

.para {
  font-family: 'Mulish', sans-serif;
  color: #4c6472;
}

.head-title {
  font-family: 'Philosopher', sans-serif;  
  font-size: 42px;
  text-align: center;
  color: #996D6D;
}

.rightbox {
padding: 0 90% 0 0;
}

.rb-container ul.rb {
margin: 2.5em 0;
padding: 0;
display: inline-block;
}

.rb-container ul.rb li.rb-item {
list-style: none;
margin: auto;
margin-left: 2em;
padding: 0 0 50px 30px;
}

.rb-container ul.rb li.rb-item:last-child {
border-left: 0;
}

ul.rb li.rb-item .timestamp {
color: #996D6D;
width: 500px;
font-family: 'Philosopher', sans-serif;
font-size: 10px;
}

.skill-list{
  list-style-type: none;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  color: #4c6472;
  line-height: 30px;
}






  /*////////////////// CONTACT///////////////////////*/



  #contact-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 800px;
  }

  .contact-icon {
    color: #4c6472;
    border: 2px solid #4c6472;
    border-radius: 50%;
    padding: 1rem;
  }
